<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,inital-scale=1">
    <title>Sign-Up Form</title>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static', 'css/MaterialDesign-Webfont-master/css/materialdesignicons.min.css')}}"/>
</head>
<body>  {{if users:}}
                   {{for user in users:}}
        <div class="container">
         <div class="row">
           <div class="col"></div>
            <div class="col-md-6">
             <!-- <p>Student name is {{=user.db_studentname}},ID name is{{=user.db_id}},email is {{=user.db_email}} password is {{=user.db_password}}</p> -->
             <table class="table table-striped">
             <thead>
               <tr>
                <th scope="col">Student Name</th>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
               </tr>
              </thead> 
              <tbody>
               <tr>
	               <td>{{=user.db_studentname}}</td>
	               <td>{{=user.db_id}}</td>
	               <td>{{=user.db_email}}</td>
	               <td>{{=user.db_password}}</td>
               </tr>
               {{pass}}
<!--             {{else:}}
            <h2>No USER Found</h2> -->
       		{{pass}}
              </tbody>
             </table> 
            </div>        
</body>
</html> 

